*{
    list-style: none;
}


body{
    background-color: rgb(214, 150, 150);
}

.container{
    border: 1px solid rgb(20, 16, 16);
    max-width: 500px;
    margin: 20px auto ; /* cetralizar (auto deixa automatico ao cetro) */
    background: rgb(145, 201, 218);
    border-radius: 5px;
    text-align: center;
    /* ou 
    display: flex;
    justify-content: center; */

}

.form-control{
    margin: 25px;
}

.form-control input [type="text"]{
    width: 80%;
    padding: 10px;
    outline:0; 
    /* outline-para tirar os efeitos do navegador */
}

button{
    margin-bottom: 20px;
    background-color: aquamarine;
    border: 0;
    padding:10px;
    color: blue;
    cursor: pointer;
}

.erro{
    color: red;
    text-align: left;
    margin-left: 32px;
}

.d-none{
    display: none;
    /* display:none esconde o elemneto */
}


.d-block{
    display: block;
}